extends layout
block content
    h1= title
    if (toShow == null) 
        h2 No instance to show 
    else 
    - let penid = toShow._id
    - let penink = toShow.pen_ink
    - let penbrand = toShow.pen_brand
    - let pencost = toShow.pen_cost
    div
    div.row
    div(class='pensAttr mr-3') pen ID is:
    div #{penid}
    div.row
    div(class='pensAttr mr-3') pen Name is:
    div #{penink}
    div.row
    div(class='pensAttr mr-3') pen brand is:
    div #{penbrand}
    div.row
    div(class='pensAttr mr-3') pen cost is:
    div #{pencost}